<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964131497519-vq15uh4iltd9e0daj14quah64dg12h2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964131497519-vq15uh4iltd9e0daj14quah64dg12h2n</string>
	<key>API_KEY</key>
	<string>AIzaSyDL1U_s9XwILyabflb_4dpLLvuXJbreuCg</string>
	<key>GCM_SENDER_ID</key>
	<string>964131497519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatever</string>
	<key>PROJECT_ID</key>
	<string>whatever-7b00b</string>
	<key>STORAGE_BUCKET</key>
	<string>whatever-7b00b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964131497519:ios:ccfd2a2b73c753c94108da</string>
</dict>
</plist>